<div>
  <div class="app-header">
    <input class="item-name-input" #itemNameInput matInput placeholder="Enter item name" [(ngModel)]="itemName"
      (keydown.enter)="addItem()" />
    <input class="item-amount-input" matInput placeholder="Enter item amount" [(ngModel)]="itemAmount"
      (keydown.enter)="addItem()" />
    <button class="add-item-button" mat-raised-button color="primary" (click)="addItem()"> Add item </button>
  </div>
  <mat-divider></mat-divider>
  <div class="app-body" fxLayout="row" fxLayoutGap="5px">
    <div class="items-container" fxFlex="60">
      <div *ngFor="let item of items">
        <app-item class="item-card" [item]="item" (personAdded)="updateBill()" (itemRemoved)="removeItem($event)"
          (personRemoved)="updateBill()">
        </app-item>
      </div>
    </div>
    <div class="bill-container" fxLayout="column" fxLayoutGap="16px" fxFlex="40" fxFlexFill>
      <button *ngIf="personToShare.size > 0" class="copy-bill-button" mat-raised-button color="primary"
        (click)="copyBill()">
        <div *ngIf="!isBillCopiedToClipboard">
          Copy Bill
        </div>
        <div *ngIf="isBillCopiedToClipboard">
          Bill Copied!
        </div>
      </button>
      <div *ngIf="totalBillAmount > 0" class="total-bill-amount" fxLayout="row" fxLayoutAlign="space-between center">
        <span> Total Amount </span>
        <span> {{ totalBillAmount | currency:'INR' }} </span>
      </div>
      <mat-card class="person-card" *ngFor="let person of personToShare | keyvalue" fxFlex>
        <mat-card-header>
          <div class="header-content" fxLayout="row" fxLayoutAlign="space-between center">
            <span> {{ person.key }} </span>
            <span> {{ person.value | currency:'INR' }} </span>
          </div>
        </mat-card-header>
        <mat-card-content>
          <mat-list dense>
            <mat-list-item *ngFor="let personContributions of personToItemContribution.get(person.key)">
              <div class="item-row">
                <span class="item-name"> {{ personContributions.itemName }} </span>
                <span class="contribution-amount"> {{ personContributions.contributionAmount | currency:'INR' }} </span>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>