.app-header {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers items vertically in the toolbar */
  gap: 10px;
}

.item-name-input {
  width: 300px;
  height: 40px;
  margin: 10px 0;
  padding: 0 10px;
  font-size: 25px;
}

.item-amount-input {
  width: 300px;
  height: 40px;
  margin: 10px 0;
  padding: 0 10px;
  font-size: 25px;
}

.add-item-button {
  height: 40px;
  margin: 5px 0;
}

.bill-container {
  padding: 16px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.total-bill-amount {
  font-weight: bold;
  font-size: 30px;
}

.person-card {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 16px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: bold;
  font-size: 25px;
}

.item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 20px;
}

.item-name {
  text-align: left;
  flex-grow: 1; /* Ensures the name takes up the remaining space */
}

.contribution-amount {
  text-align: right;
  min-width: 80px; /* Ensures consistent alignment */
}